* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

.app {
  width: 100vw;
  display: grid;
  grid-template-rows: 15vh 85vh;
  grid-template-columns: 50vw 50vw;
  grid-template-areas:
    "add-todo add-todo"
    "left right";
}

.inputBox {
  grid-area: add-todo;
  display: flex;
  padding: 2rem;
  justify-content: center;
}

input {
  height: 25px;
  width: 40%;
}

.date-text {
  font-size: 12px;
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 100%;
  border-radius: 8px;
  background-color: rgb(241, 241, 241);
}

.addButton {
  height: 25px;
  width: 8%;
  border: 1px rgba(0, 0, 0, 0.589) solid;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  background-color: rgb(141, 194, 148);
}

.addButton:hover {
  background-color: rgb(178, 221, 184);
  transition: 300ms;
}

.basicContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.notDoneContainer {
  grid-area: left;
}

.doneContainer {
  grid-area: right;
}

.task {
  display: flex;
  position: relative;
  width: 90%;
  height: 80px;
  padding: 5px;
  margin-top: 10px;

  border: 1px solid #0000006e;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px rgba(58, 57, 57, 0.5);
}

.doneStatus {
  background-color: rgb(166, 211, 166);
}

.undone {
  background-color: pink;
}

.task-text {
  width: 90%;
}

.task-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60px;
}

.task-end-button {
  width: 30px;
  height: 20px;
  right: 10px;
  top: 10px;
}

.delete {
  font-size: 12px;
  font-weight: 700;
  background-color: white;
  color: rgb(177, 4, 4);
  border: none;
  border-radius: 5px;
  box-shadow: 0.5px 1px rgba(177, 4, 4, 0.5);
  width: 60%;
  height: 25%;
}

.delete:hover {
  font-size: 12px;
  background-color: rgb(177, 4, 4);
  color: white;
  box-shadow: -0.5px -1px rgba(255, 254, 254, 0.5);
  transition: 300ms;
}

.done {
  font-size: 12px;
  font-weight: 1000;
  background-color: white;
  color: rgb(0, 122, 51);
  border: none;
  border-radius: 5px;
  box-shadow: 0.5px 1px rgba(0, 122, 51, 0.5);
  width: 60%;
  height: 25%;
}

.done:hover {
  font-size: 12px;
  background-color: rgb(0, 122, 51);
  color: white;
  box-shadow: -0.5px -1px rgba(255, 254, 254, 0.5);
  transition: 300ms;
}

.wip {
  font-size: 12px;
  font-weight: 700;
  background-color: white;
  color: rgb(230, 172, 14);
  border: none;
  border-radius: 5px;
  box-shadow: 0.5px 1px rgba(230, 172, 14, 0.5);
  width: 60%;
  height: 25%;
}

.wip:hover {
  font-size: 12px;
  background-color: rgb(230, 172, 14);
  color: white;
  box-shadow: -0.5px -1px rgba(255, 254, 254, 0.5);
  transition: 300ms;
}
