body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.add-todo {
  left: 30px;
}

.task {
  display: flex;
  position: relative;
  width: 400px;
  height: 80px;
  left: 10px;
  top: 10px;
  margin: 10px;
  padding: 5px;


  background: rgba(39, 129, 32, 0.3);
  border: 1px solid #000000;
  box-sizing: border-box;
}

.task-text {
  width: 90%;
}

.task-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  
}

.task-end-button {
  width: 30px;
  height: 20px;
  right: 10px;
  top: 10px;
}

.delete {
  font-size: 12px;
  font-weight: 700;
  background-color: white;
  color: rgb(177, 4, 4);
  border: none;
  border-radius: 5px;
  box-shadow: 0.5px 1px rgba(177, 4, 4, 0.5);
  width: 60%;
  height: 25%;
}

.delete:hover {
  font-size: 12px;
  background-color: rgb(177, 4, 4);
  color: white;
  box-shadow: -0.5px -1px rgba(255, 254, 254, 0.5);
  transition: 300ms;
}

.done {
  font-size: 12px;
  font-weight: 1000;
  background-color: white;
  color: rgb(0, 122, 51);
  border: none;
  border-radius: 5px;
  box-shadow: 0.5px 1px rgba(0, 122, 51, 0.5);
  width: 60%;
  height: 25%;
}

.done:hover {
  font-size: 12px;
  background-color: rgb(0, 122, 51);
  color: white;
  box-shadow: -0.5px -1px rgba(255, 254, 254, 0.5);
  transition: 300ms;
}

.wip {
  font-size: 12px;
  font-weight: 700;
  background-color: white;
  color: rgb(230, 172, 14);
  border: none;
  border-radius: 5px;
  box-shadow: 0.5px 1px rgba(230, 172, 14, 0.5);
  width: 60%;
  height: 25%;
}

.wip:hover {
  font-size: 12px;
  background-color: rgb(230, 172, 14);
  color: white;
  box-shadow: -0.5px -1px rgba(255, 254, 254, 0.5);
  transition: 300ms;
}