* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

button {
  cursor: pointer;
}

.app {
  width: 100vw;
  display: grid;
  grid-template-rows: 15vh 85vh;
  grid-template-columns: 50vw 50vw;
  grid-template-areas:
    "add-todo add-todo"
    "left right";
}

.inputBox {
  grid-area: add-todo;
  display: flex;
  padding: 2rem;
  justify-content: center;
}

input {
  height: 25px;
  width: 40%;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  border: 1px rgba(0, 0, 0, 0.589) solid;
  padding-left: 5px;
  margin-top: 8px;
}

.date-text {
  font-size: 12px;
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 100%;
  border-radius: 8px;
  background-color: rgb(241, 241, 241);
}

.addButton {
  height: 25px;
  width: 4%;
  min-width: 30px;
  border: 1px rgba(0, 0, 0, 0.589) solid;
  color: white;
  font-weight: 700;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  background-color: rgb(146, 146, 146);
  margin-left: 20px;
  margin-top: 8px;
  font-size: 10px;
}

.addButton:hover {
  background-color: rgb(178, 221, 184);
  color: black;
  transition: 500ms;
}

.basicContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.notDoneContainer {
  grid-area: left;
}

.doneContainer {
  grid-area: right;
}

.task {
  display: flex;
  position: relative;
  width: 90%;
  height: 80px;
  padding: 5px;
  margin-top: 10px;

  border: 1px rgba(0, 0, 0, 0.253) solid;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px rgba(58, 57, 57, 0.5);
}

.doneStatus {
  background-color: rgb(166, 211, 166);
}

.undone {
  background-color: pink;
}

.task-text {
  width: 90%;
}

.task-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60px;
}

.task-end-button {
  width: 30px;
  height: 20px;
  right: 10px;
  top: 10px;
}

.delete {
  font-size: 12px;
  font-weight: 700;
  background-color: white;
  color: rgb(177, 4, 4);
  border: none;
  border-radius: 5px;
  box-shadow: 0.5px 1px rgba(177, 4, 4, 0.5);
  width: 60%;
  height: 25%;
}

.delete:hover {
  font-size: 12px;
  background-color: rgb(177, 4, 4);
  color: white;
  box-shadow: -0.5px -1px rgba(255, 254, 254, 0.5);
  transition: 300ms;
}

.done {
  font-size: 12px;
  font-weight: 1000;
  background-color: white;
  color: rgb(0, 122, 51);
  border: none;
  border-radius: 5px;
  box-shadow: 0.5px 1px rgba(0, 122, 51, 0.5);
  width: 60%;
  height: 25%;
}

.done:hover {
  font-size: 12px;
  background-color: rgb(0, 122, 51);
  color: white;
  box-shadow: -0.5px -1px rgba(255, 254, 254, 0.5);
  transition: 300ms;
}

.wip {
  font-size: 12px;
  font-weight: 700;
  background-color: white;
  color: rgb(230, 172, 14);
  border: none;
  border-radius: 5px;
  box-shadow: 0.5px 1px rgba(230, 172, 14, 0.5);
  width: 60%;
  height: 25%;
}

.wip:hover {
  font-size: 12px;
  background-color: rgb(230, 172, 14);
  color: white;
  box-shadow: -0.5px -1px rgba(255, 254, 254, 0.5);
  transition: 300ms;
}

/*modal css*/
.addTodoButton {
  height: 40px;
  width: 15%;
  min-width: 80px;
  border: 1px rgba(0, 0, 0, 0.589) solid;
  color: white;
  font-weight: 700;
  border-radius: 5px 5px 5px 5px;
  background-color: rgb(0, 122, 51);
}

.addTodoButton:hover {
  background-color: rgb(178, 221, 184);
  color: black;
  transition: 500ms;
}

.modal-background {
  z-index: 10000;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(133, 133, 133, 0.5);
  width: 100%;
  height: 100%;
}

.modal-card {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  height: auto;
  width: 60%;
  max-width: 550px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  display: grid;
}

.modal-row1 {
  height: auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 10px;
}

.modal-row1-title {
  align-items: flex-start;
}

.modal-row1-buttons {
  width: 10%;
  min-width: 50px;
  display: flex;
  padding-right: 10px;
  justify-content: space-between;
}

.modal-row2 {
  border-radius: 8px;
  min-height: 80px;
  height: auto;
  padding-bottom: 5px;
}

.modal-row2-text {
  font-size: 14px;
  padding: 10px;
  background-color: rgb(240, 240, 240);
}

.modal-row2-textarea {
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgb(240, 240, 240);
  padding: 3px;
}

.modal-row3 {
  height: 40px;
}

.modal-row4 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.modal-button {
  font-size: 12px;
  font-weight: 1000;
  border-radius: 5px;
  width: 25%;
  min-width: 70px;
  height: 90%;
  font-weight: 700;
}

.modal-done {
  background-color: rgb(0, 122, 51);
  color: white;
  border: 1px solid rgb(0, 122, 51);
  box-shadow: 0.5px 1px rgba(0, 122, 51, 0.5);
  align-items: flex-start;
}

.modal-done:hover {
  background-color: white;
  color: rgb(0, 122, 51);
  box-shadow: -0.5px -1px rgba(255, 254, 254, 0.5);
  transition: 300ms;
}

.modal-delete {
  background-color: rgb(177, 4, 4);
  color: white;
  border: 1px solid rgb(177, 4, 4);
  box-shadow: 0.5px 1px rgba(177, 4, 4, 0.5);
  align-items: flex-end;
}

.modal-delete:hover {
  color: rgb(177, 4, 4);
  background-color: white;
  box-shadow: -0.5px -1px rgba(255, 254, 254, 0.5);
  transition: 300ms;
}

.modal-delete-2 {
  font-size: 12px;
  font-weight: 700;
  color: black;
  background: none;
  border: none;
  width: 10%;
  height: 10%;
  align-items: flex-end;
}

.modal-delete-2:hover {
  font-size: 12px;
  color: rgb(134, 134, 134);
  transition: 300ms;
}

.modal-wip {
  font-size: 12px;
  font-weight: 700;
  color: rgb(150, 150, 150);
  border: none;
  background: none;
  width: 25%;
  height: 25%;
}

.modal-wip:hover {
  font-size: 12px;
  color: rgb(178, 221, 184);
  transition: 300ms;
}

.title_input {
  border: none;
  width: 100%;
  background-color: rgb(240, 240, 240);
  height: 40px;
  font-size: large;
  font-weight: 700;
}
